.selectText {
		color: #ff7700 !important;
	}
	
	.menu{
		color: red;
	}

	.uni-container {
		width: 200px;
		margin-right: 0px;
		background-color: #242B40;
	}

	.menuList {
		width: 170px;
		height: 40px !important;
		border-radius: 5px;
		background-color: #F8F8F8;
		display: flex;
		justify-content: space-between;
	}

	.menuItem {
		height: 40px;
		background-color: #EEEEEE;
		margin-top: 8px;
		border-radius: 5px;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}