/* 选中时菜单文字样式 */
.selectText {
	color: #18BC37 !important;
}

/* 一级菜单文字样式 */
.menu {
	color: #18BC37;
}

.uni-container {
	width: 200px;
	margin-right: 0px;
	background-color: #D4E4FF;
}

.menuList {
	width: 170px;
	height: 40px !important;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}

.menuItem {
	height: 40px;
	background-color: #F8F8F8;
	margin-top: 8px;
	border-radius: 5px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
